{% macro render_pagination(pagination, endpoint) %}
  <div class="page-items">
    {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
  </div>
  <div class=pagination>
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
        {% else %}
          <strong>{{ page }}</strong>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}


{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <ul>
        {% for cat in cats %}
        <li> <strong> {{ cat.character_name }} </strong> </li>
        <li>{{ cat.clan_role }} </li>
        <li>{{ cat.clan_name }} </li>
        <li>{{ cat.eye_colour }} </li>
        <li>{{ cat.fur_colour }} </li>
        <li>{{ cat.first_introduced }} </li>
        {% endfor %}
    </ul>
    {{render_pagination(cats, 'showcats')}}
{% endblock %}